<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?export=view&id=1jeklgJUZnMAPYyHFVPOm9twPTmrL-Hlf">
    <script src="https://kit.fontawesome.com/4702804624.js"></script>

    <title> Registering Product to API </title>

    <style>
        .product-form {
            padding: 20px 50px;
            background-color: white;
            border: 1px solid rgba(128, 128, 128, 0.507);
            border-radius: 10px;
            width: 600px;
            margin: auto;
        }
        label {
            font-weight: 500;
            margin: 15px 0 5px;
            font-size: 0.9rem;
            display: block;
        }
        input {
            width: 500px;
        }
        #measurements, #img-urls {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid rgba(133, 157, 160, 0.493);
            border-radius: 10px;
        }
        #measurements input, #img-urls input {
            width: 95%;
        }
        .variety-div {
            margin-top: 20px;
            border-top: 1px solid rgb(0, 97, 97);
        }
        .variety-div h5 {
            margin-top: 5px;
            margin-bottom: 20px;
        }
        .variety {
            margin-bottom: 10px;
        }
        .variety label {
            margin: 0;
        }
        .variety_color-div input {
            width: 150px;
        }
        .variety_address-div {
            margin-left: 20px;
        }
        .variety_address-div input {
            width: 330px;
        }
        .delete-variety {
            align-self: center;
            vertical-align: center;
        }
        h5 {
            margin: 20px 0 0;
        }
        #save{
            margin: 30px 0 20px;
        }
        small {
            font-size: 0.9rem;
            margin: 5px 0;
            display: block;
            color: slategray;
        }
        .note-hr {
            margin: 30px 0 0;
        }
        .delete-variety{
            font-size: 1.2rem;
            cursor: pointer;
            margin-left: 10px;
        }
    </style>
</head>
<body>

    <div class="page-container">
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark"> <!--fixed-top-->
                <div class="container">
                    <a class="navbar-brand mr-4" href="/">Product API</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="/">Ana Sayfa</a>
                        </div>
                        <!-- Navbar Right Side-->
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="/products">Ürünler</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div id='product-form' class="product-form mt-2">
            <h2> Ürünü kaydet</h2>
            <hr />
            <div id='form'>

            </div>
        </div>
    </div>

    <div class="before-footer"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            initializeForm();
        });

        function initializeForm(){
            const form = document.querySelector('#form');

            form.appendChild( setDivs('title', 'text', 'Başlık*', 'Örn: Kareli Ceket') );
            form.appendChild( setDivs('address', 'text', 'Ürünün Adresi*', 'https://...') );

            form.appendChild( setImgUrls() );

            form.appendChild( setDivs('category', 'text', 'Kategori*', 'Örn: Atkı') );
            form.appendChild( setDivs('brand', 'text', 'Marka*', 'Örn: Koton') );
            form.appendChild( setDivs('product_id', 'text', 'Ürün Kodu', 'Örn: ABC1234DEF001') );

            form.appendChild( setMeasurements() );

            form.appendChild( setDivs('description', 'text', 'Açıklama', 'Örn: %100 Deri Siyah Çanta') );
            form.appendChild( setDivs('price', 'number', 'Fiyat (TL)*', '69.99') );
            form.appendChild( setDivs('sale_price', 'number', 'İndrimli Fiyat (TL)', '39.99') );
            form.appendChild( setDivs('material', 'text', 'Materyal', '%80 Polyester %20 Pamuk') );
            form.appendChild( setDivs('color', 'text', 'Renk*', 'Siyah') );
            form.appendChild( setDivs('pattern', 'text', 'Desen', 'Kareli/Çizgili') );

            form.appendChild( setColorVariety(form) );
            
            const noteHr = document.createElement('hr');
            noteHr.setAttribute('class', 'note-hr');
            form.appendChild(noteHr);

            const small = document.createElement('small');
            small.textContent = '* Zorunlu alan';
            form.appendChild(small);

            form.appendChild( setSaveBtn() );
        }

        function setImgUrls(){
            const div = document.createElement('div');
            div.setAttribute('id', 'img-urls');

            const title = document.createElement('h5');
            title.textContent = 'Ürünlerin Resim adresleri';

            div.appendChild(title);
            div.appendChild( setDivs('img_main', 'text', 'Ana Resim*', 'https://...') );
            div.appendChild( setDivs('img_front', 'text', 'Ön Kısım', 'https://...') );
            div.appendChild( setDivs('img_back', 'text', 'Arka Kısım', 'https://...') );

            return div;
        }

        function setDivs(name, type, title, placeholder){
            const div = document.createElement('div');
            div.setAttribute('class', name + '-div');
            
            const label = document.createElement('label');
            label.setAttribute('for', name);
            label.textContent = title;

            const input = document.createElement('input');
            input.type = type;
            input.name = name;
            input.placeholder = placeholder;
            if(name === 'variety_color' || name === 'variety_address'){
                input.setAttribute('class', name);
            } else {
                input.id = name;
            }

            div.appendChild(label);
            div.appendChild(input);

            if(name === 'height'){
                const small = document.createElement('small');
                small.textContent = 'Şal gibi 2 boyutlu ürünlerde yüksekliğe gerek yoktur.';
                div.appendChild(small);
            }

            return div;
        }
    
        function setMeasurements(){
            const div = document.createElement('div');
            div.setAttribute('id', 'measurements');
            // div.setAttribute('class', 'mt-3');

            const btnsDiv = document.createElement('div');
            btnsDiv.setAttribute('class', 'd-flex justify-content-center');

            const sizeBtn = document.createElement('button');
            sizeBtn.setAttribute('id', 'size-btn');
            sizeBtn.setAttribute('class', 'btn btn-sm btn-outline-info mr-4');
            sizeBtn.textContent = 'Beden ölçüleri ekle';

            const dimensionsBtn = document.createElement('button');
            dimensionsBtn.setAttribute('id', 'dimension-btn');
            dimensionsBtn.setAttribute('class', 'btn btn-sm btn-outline-info');
            dimensionsBtn.textContent = 'Boyut ölçüleri ekle';

            btnsDiv.appendChild(sizeBtn);
            btnsDiv.appendChild(dimensionsBtn);

            div.appendChild(btnsDiv);

            handleBtnClicks(sizeBtn, dimensionsBtn);
            return div;
        }

        function handleBtnClicks(btn1, btn2){
            btn1.onclick = function(){
                const dimensions = document.querySelector('#dimensions-div');
                if (dimensions) dimensions.remove();

                const sizeDiv = document.querySelector('#size-div');
                if (sizeDiv) return;

                addSizeDiv();
            }

            btn2.onclick = function(){
                const sizeDiv = document.querySelector('#size-div');
                if (sizeDiv) sizeDiv.remove();
                
                const dimensions = document.querySelector('#dimensions-div');
                if (dimensions) return;

                addDimensionsDiv();
            }
        }

        function addSizeDiv(){
            const measurements = document.querySelector('#measurements');

            const div = document.createElement('div');
            div.setAttribute('id', 'size-div');

            const label = document.createElement('label');
            label.setAttribute('for', 'sizes');
            label.textContent = 'Beden Ölçüleri'

            const input = document.createElement('input');
            input.type = 'text';
            input.name = 'sizes';
            input.id = 'sizes';
            input.placeholder = '34, 36, 38, 40, 42'

            const small = document.createElement('small');
            small.textContent = 'Bedenleri virgül ve boşluk ile ayırın. Örn: 34, 36, 38';

            div.appendChild(label);
            div.appendChild(input);
            div.appendChild(small);

            measurements.appendChild(div);
        }

        function addDimensionsDiv(){
            const measurements = document.querySelector('#measurements');

            const containerDiv = document.createElement('div');
            containerDiv.setAttribute('id', 'dimensions-div');

            containerDiv.appendChild( setDivs('width', 'number', 'En', 'Buraya santimetre değeri yazın') );
            containerDiv.appendChild( setDivs('length', 'number', 'Boy', 'Buraya santimetre değeri yazın') );
            containerDiv.appendChild( setDivs('height', 'number', 'Yükseklik', 'Buraya santimetre değeri yazın') );
            
            measurements.appendChild(containerDiv);
        }

        function setColorVariety(){
            const varietyDiv = document.createElement('div');
            varietyDiv.setAttribute('class', 'variety-div');

            const titleDiv = document.createElement('div');
            titleDiv.setAttribute('class', 'd-flex justify-content-between');
            
            const title = document.createElement('h5');
            title.textContent = 'Ürün Çeşitleri';

            const varietyBtn = document.createElement('button');
            varietyBtn.textContent = 'Çeşit Ekle';
            varietyBtn.setAttribute('class', 'btn btn-sm btn-outline-info align-self-center');
            varietyBtn.onclick = function(){
                const noVariety = document.querySelector('.no-variety');
                if(noVariety) noVariety.remove();

                const inputDiv = document.createElement('div');
                // inputDiv.setAttribute('id', 'variety');
                inputDiv.setAttribute('class', 'd-flex variety');
    
                const variety_color = setDivs('variety_color', 'text', 'Çeşidin Rengi', 'Beyaz');
                const variety_address = setDivs('variety_address', 'text', 'Çeşidin Adresi', 'https://...');

                const deleteBtn = document.createElement('i');
                deleteBtn.setAttribute('class', 'fas fa-times-circle text-danger delete-variety');
                deleteBtn.onclick = function(){
                    const allVariety = document.querySelectorAll('.variety');
                    if(allVariety.length === 1) varietyDiv.appendChild( setNoVariety() );
                    
                    inputDiv.remove();
                }

                inputDiv.appendChild(variety_color);
                inputDiv.appendChild(variety_address);
                inputDiv.appendChild(deleteBtn);
                varietyDiv.appendChild(inputDiv);
            }

            titleDiv.appendChild(title);
            titleDiv.appendChild(varietyBtn);
            varietyDiv.appendChild(titleDiv);
            varietyDiv.appendChild( setNoVariety() );
            return varietyDiv;
        }

        function setNoVariety(){
            const p = document.createElement('p');
            p.setAttribute('class', 'no-variety');
            p.textContent = 'Henüz ürün çeşidi eklenmedi.';
            return p;
        }

        function setSaveBtn(){
            const div = document.createElement('div');
            div.setAttribute('class', 'd-flex justify-content-center');

            const btn = document.createElement('button');
            btn.setAttribute('id', 'save');
            btn.setAttribute('class', 'btn btn-lg btn-success');
            btn.textContent = 'Kaydet';
            btn.addEventListener('click', async function(e){
                e.preventDefault();

                const info = gatherInfo();
                console.log(info);
                const response = await postData('/products', info, 'POST');
                console.log(response);
                if(response.err) {
                    const p = document.createElement('p');
                    p.textContent = response.err;
                    document.querySelector('#form').appendChild(p);
                } else {
                    formSaved();
                }
            });

            div.appendChild(btn);
            return div;
        }

        function formSaved(){
            document.querySelector('#form').remove();
            const productForm = document.querySelector('#product-form');

            const message = document.createElement('h6');
            message.setAttribute('class', 'mt-4 success-message');
            message.textContent = 'Başarıyla kaydedildi.';

            const newProduct = document.createElement('button');
            newProduct.setAttribute('class', 'btn btn-info my-4');
            newProduct.textContent = 'Yeni Ürün';

            newProduct.onclick = function() {
                const form = document.createElement('form');
                form.id = 'form';
                productForm.appendChild(form);

                initializeForm();
                message.remove();
                this.remove();
            }

            productForm.appendChild(message);
            productForm.appendChild(newProduct);
        }

        function gatherInfo(){
            const title = document.querySelector('#title').value;
            const address = document.querySelector('#address').value;
            const category = document.querySelector('#category').value;
            const brand = document.querySelector('#brand').value;
            const product_id = document.querySelector('#product_id').value;
            const description = document.querySelector('#description').value;
            const price = Number(document.querySelector('#price').value);
            const sale_price = Number(document.querySelector('#sale_price').value) || price;
            const material = document.querySelector('#material').value;
            const color = document.querySelector('#color').value;
            const pattern = document.querySelector('#pattern').value || 'Düz Renk';

            let sizes = document.querySelector('#sizes');
            if (sizes && sizes.value !== '') {
                sizes = sizes.value.replace(/\s+/g, '').split(',');
            } else sizes = [];

            const img_main = document.querySelector('#img_main').value;
            const img_front = document.querySelector('#img_front')
                ? document.querySelector('#img_front').value :'';
            const img_back = document.querySelector('#img_back')
                ? document.querySelector('#img_back').value :'';
                

            const img_url = {
                main: img_main,
                front: img_front,
                back: img_back
            }

            const variety_color = document.querySelector('.variety_color');
            const variety_list = [];
            if(variety_color){
                const allColors = document.querySelectorAll('.variety_color');
                const allAddressses = document.querySelectorAll('.variety_address');

                const length = allColors.length;
                for(let i = 0; i < length; i++){
                    variety_list.push({
                        name: allColors[i].value,
                        address: allAddressses[i].value
                    });
                }
            }

            const width = document.querySelector('#width')
                ? Number(document.querySelector('#width').value) :0;
            const length = document.querySelector('#length')
                ? Number(document.querySelector('#length').value) :0;
            const height =document.querySelector('#height')
                ? Number(document.querySelector('#height').value) :0;

            const info = {
                title: title,
                address: address,
                image_url: img_url,
                category: category,
                brand: brand,
                product_id: product_id,
                description: description,
                price: price,
                sale_price: sale_price,
                material: material,
                color: color,
                pattern: pattern,
                sizes: sizes,
                width: width,
                length: length,
                height: height,
                variety: variety_list,
            }

            return info;
        }
    
        async function postData(url = '', data = {}, type) {
            const response = await fetch(url, {
                method: type, // *GET, POST, PUT, DELETE, etc.
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            })
                .then(function(response){
                    return response.json()
                }).then(function(body){
                    //console.log(body);
                    return body;
                });
            return response; // parses JSON response into native JavaScript objects
        } 
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>